<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><h2 style="margin-top: 10px; margin-left: 10px;">WELCOME TO EHEALTH  |  LABORATORY ADMIN PANEL</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" >
      <ul class="navbar-nav" ml-auto>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/laboratory-panel">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="viewPendingTests">Lab Results</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Past Lab Records</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)= "logout()" href="login">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

<!-- <input type="text" [(ngModel)]="filters.keyword"
            name="keyword" (input)="listTestRecords()"> -->


<!-- <div class="card mb-3" style="max-width: 540px;" *ngFor="let record of records">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/images/physician_placeholder.jpg" class="card-img" alt="physician">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Dr. {{physician.firstName}} {{physician.lastName}}</h3>
          <p class="card-text">{{physician.speciality}}</p>
          <p class="card-text"><small class="text-muted">10 years of Experience</small></p>
          <button class="btn btn-primary" (click) = showDateAndSlot(physician.physicianId)>Book Appointment</button>
        </div>
      </div>
    </div>
    <div *ngIf="showDateAndTimeSlotFor === physician.physicianId">
        <input type="date" name= "date" [(ngModel)]="appointment.date" placeholder="yyyy-MM-dd">
        <button (click)="getAvailableSlots(physician.physicianId)">Check Available Slots</button>
        <div *ngFor="let availableSlot of availableSlots" routerLink="confirmBooking/{{physician.physicianId}}/{{availableSlot.availabilityId}}">{{availableSlot.startTime | time24to12Transform}}</div>
    </div>
  </div> -->


  <!-- <div class="row" *ngFor="let record of records">
    <div class="col-sm-1 col-md-2">
        <div class="card border-white">
            <div class="card-header">Test Id</div>
                <div class="card-body">
                    <p class="card-text">{{record.testId}}</p>
                </div>
            </div>
    </div>

    <div class="col-sm-1 col-md-2">
        <div class="card border-white">
            <div class="card-header">Patient</div>
                <div class="card-body">
                    <p class="card-text">{{record.patientId}}</p>
                </div>
            </div>
    </div>

    <div class="col-sm-1 col-md-2">
        <div class="card border-white">
            <div class="card-header">Prescribed By </div>
                <div class="card-body">
                    <p class="card-text">{{record.physicianId}}</p>
                </div>
            </div>
        </div>

    <div class="col-sm-1 col-md-2">
        <div class="card border-white">
            <div class="card-header">Test To be Done</div>
                <div class="card-body">
                    <p class="card-text">{{record.testName}}</p>
                </div>
            </div>
        </div>

    <div class="col-sm-1 col-md-2">
        <div class="card border-white">
            <div class="card-header">Date</div>
                <div class="card-body">
                    <p class="card-text">{{record.date}}</p>
                </div>
            </div>
        </div>

        <div class="col-sm-1 col-md-2">
            <div class="card border-white">
                <div class="card-header">Time</div>
                    <div class="card-body">
                        <p class="card-text">{{record.time}}</p>
                    </div>
                </div>
            </div>
</div> -->


