<header>
    <h1 style="font: bold; font-weight: bold; font-family: 'Courier New', Courier, monospace;
    vertical-align: middle; font-size: 50px;">
    E Health Service</h1>   
</header>
<div class="content">
    <p>Book an appointment!</p>
<select class="custom-select" name="select-speciality" (click)= listPhysicians($event)>
    <option selecteds>Select Speciality</option>
    <option value="Pediatrician">Pediatrician</option>
    <option value="Gynecologist">Gynecologist</option>
    <option value="Surgeon">Surgeon</option>
    <option value="Cardiologist">Cardiologist</option>
    <option value="Dermatologist">Dermatologist</option>
</select>

<div class="card mb-3" style="max-width: 540px;" *ngFor="let physician of physicians">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/images/physician_placeholder.jpg" class="card-img" alt="physician">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Dr. {{physician.firstName}} {{physician.lastName}}</h3>
          <p class="card-text">{{physician.speciality}}</p>
          <p class="card-text"><small class="text-muted">10 years of Experience</small></p>
          <button class="btn btn-primary" (click) = showDateAndSlot(physician.physicianId)>Book Appointment</button>
        </div>
      </div>
    </div>
    <div *ngIf="showDateAndTimeSlotFor === physician.physicianId">
        <input type="date" name= "date" [(ngModel)]="appointment.date" placeholder="yyyy-MM-dd">
        <button (click)="getAvailableSlots(physician.physicianId)">Check Available Slots</button>
        <div *ngFor="let availableSlot of availableSlots" routerLink="confirmBooking/{{physician.physicianId}}/{{availableSlot.availabilityId}}">{{availableSlot.startTime | time24to12Transform}}</div>
    </div>
  </div>

